body {
    /*1*/
    background-color: #222;
    color: #ee6;
    /*2*/
    h1 {
        text-align: center;
    }
    /*3*/
    p {
        font-family:sans-serif;
    }
    /*4*/
    h1, h2, h3, h4 {
        color: #eee;
    }
    /*5*/
    strong {
        text-decoration-line: underline;
        text-decoration-color: white;
    }
    /*6*/
    .the-force {
        background-color: #444;
        font-weight: bold;
    }
    /*7*/
    .light-side {
        color: #66f;
    }
    .dark-side {
        color: #f33;
    }
    /*8*/
    #og-trilogy {
        list-style-type: circle;
    }
    /*9*/
    #pre-trilogy {
        padding-left: 0%;
    }
    /*10*/
    .last {
        margin-top: 20px;
    }
    /*BONUS TRACKS*/
    /*11*/
    h1, h2, h3, h4 {
        text-transform:uppercase;
    }
    /*12*/
    .first-line {
        color: #efe;
    }
    /*13*/
    h1:hover {
        color: #ee6;
    }
    /*14*/
    a:visited {
        color: gray;
    }
    /*15*/
    a:not([href]) {
        font-style: italic;
    }
    /*16*/
    #a {
        background-color: #111;
    }
    #b {
        background-color: #333;
    }
}
